* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $global_font;
}


h1 { font-size: 60px; padding: $padding_reset; }
h2 { font-size: 34px; padding: $padding_reset; }
h3 { font-size: 1.7em; padding: $padding_reset; }
h4 { font-size: 1.5em; padding: $padding_reset; }
h5 { font-size: 1.2em; padding: $padding_reset;}
h6 { font-size: 1em; padding: $padding_reset;}
footer { font-size: .813em; }


article {
  min-height: 400px;
  padding-bottom: 70px;
  p {
    padding-bottom: 2em;
    line-height: 22px;
    color: #3a333a;
  }
}



.wm-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: stretch;
}

.wm-nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;
  padding: 0;
  background-color: #701a7f;
  color: #fff;
  z-index: 999999;
  
  ul {
  padding: 0;
  margin: 0;

    li {
      width: 100%;
      list-style-type: none;
      transition: all .3s ease;
      line-height: 1.3;
    }
  }
}

.list {
  padding: .6em 3em;
  font-size: .95em;
  font-weight: bold;
}

.logo {
  padding: 3em 0.6em;
}

.toggle-menu {
  display: none;
}


.wm-content {
  display: flex;
  flex: 1 1 80%;
  max-width: 80%;
  padding: 2em;
  background-color: #fff;

  
}

.wm-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 960px;
}

.wm-nav-content {
  top: 0;
  position: fixed;
  width: 20%;
  z-index: 999999;
}

.list a {
  @include link($wom_lightest_gray);
}

.list a:hover {
  @include link($wom_pink);
}

.active {
  width: 120%;
  background-color: $wom_dark_purple;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-flex {
  display: flex;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.text-center {
  text-align: center;
}

.list-title {
  
  padding: .5em 0 .5em 1.2em;
  font-size: 1.3em;
}

@media all and (max-width: 768px) {
  
   .wm-nav, .wm-content, .wm-text {
    width: 100%;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
   }

   .wm-nav {
    position: fixed;
    //height: 90px;
    //overflow: hidden;
   }

   .wm-content {
      max-width: 100%;
      flex: 1 1 100%;
      overflow: initial;
      top: 200px;
   }

   .wm-nav-content {
    position: static;
    width: 100%;
   }

  .logo {
    display: inline-block;
    padding: 0.3em 0.6em 0.1em 0.6em;
   }

   .toggle-menu {
    display: block;
    float: right;
    font-size: 1.3em;
    padding: .15em .6em;
   }

   article {
    margin-top: 40px;
   }

  .list-title {
    padding: .5em 0 .5em 1.2em;
  font-size: 1em;
  }
}

.mob-menu {
  float: right;
 }

@media all and (min-width: 769px) and (max-width: 1100px) {
  .list-title {
    font-size: 1.2em;
  }

  .wm-content {
  flex: 1 1 75%;
  max-width: 75%;
  } 

  .wm-nav-content {
    width: 25%;
  }

  .wm-nav {
    flex: 1 1 25%;
  }
}

/* Prism Style */ 

pre {
  max-height: 5em;
  //transition: max-height ease 2s;
}

.code-expanded {
  max-height: 100rem;
}

.code-section {
  width: 100%;
  padding-bottom: 4em;
  text-align: right;
}

.btn-show-moreless, .btn-copy-clipboard {
  border: 0;
  outline: none;
  text-decoration: underline;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  margin-left: auto;
}

.btn-a {
  padding: .25em .5em;
}

.wom-pink {
  color: #e92070;
}


.color-container {
  border-radius: 4px;
  display: inline-block;
  max-width: 152px;
  color: #252525;
  margin: 0.4em;

  input[type="text"] {
    border: none;
    outline: none;
    text-align: center;
    padding: .5em;
    width: 75%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: 'cera';
    font-size: 1em;
    font-weight: 700;
    color: #252525;
  }
  .color-box {
    height: 60px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

#c-wom_light_purple {
  @include color-display($wom_light_purple, 16%);
}

#c-wom_purple {
  @include color-display($wom_purple, 16%);
}

#c-wom_dark_purple {
  @include color-display($wom_dark_purple, 16%);
}

#c-wom_darkest_purple {
  @include color-display($wom_darkest_purple, 16%);
}

#c-wom_pink {
  @include color-display($wom_pink, 16%);
}

#c-wom_lightest_gray {
  @include color-display($wom_lightest_gray, 16%);
}

#c-wom_light_gray {
  @include color-display($wom_light_gray, 16%);
}

#c-wom_gray {
  @include color-display($wom_gray, 16%);
}

#c-wom-medium-gray {
  @include color-display($wom_medium_gray, 16%)
}

#c-wom_dark_gray {
  @include color-display($wom_dark_gray, 16%)
}

.check-container {
  text-align: center;
}

#check-color {
  @include color-display(#cccccc, 13%);
  max-width: 50%;

  input[type="color"] {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background-color: transparent;
    width: 10%;
  }
}



/*: #421259;
$wom_darkest_purple: #2b0a37;
$wom_pink: #fA0080;
$wom_lightest_gray: #f1f3f5;
$wom_light_gray: #e4e8eb;
$wom_gray: #d0d8de;
$wom_medium_gray: #8b9399;
$wom_dark_gray: #555b5e*/