* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $global_font;
}

h1 { font-size: 60px; }
h2 { font-size: 34px; }
h3 { font-size: 1.7em}
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
p {
  font-size: 1em;
  line-height: 1.6;
  color: #605961; 
}
footer { font-size: .813em; }

h1, h2, h3, h4, h5 , h6 {
  padding: 0.5em;
}



.wm-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: stretch;

}

.wm-nav {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  padding: 0;
  background-color: #701a7f;
  color: #fff;
  
  
}

.wm-nav ul {
  padding: 0;
  margin: 0;
}

.wm-nav ul li {
  width: 100%;
  list-style-type: none;
  padding: .6em 2em;
  transition: all .3s ease;
}

.logo {
  padding: 1em 0.4em;
}

.toggle-menu {
  display: none;
}


.wm-content {
  width: 80%;
  padding: 2em;
  //text-align: justify;
  background-color: #fff;
  
}

.wm-text {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 960px;
}

.wm-nav-content {
  top: 0;
  position: fixed;
  width: 20%;
}

.url, a {
  @include link($wom_lightest_gray);
}

.url:hover, a:hover {
  @include link($wom_medium_gray);
}

.active {
  width: 120%;
  background-color: $wom_light_purple;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-center {
  display: flex;
  margin: auto;
}

.text-center {
  text-align: center;
}

@media all and (max-width: 576px) {
  
   .wm-nav, .wm-content, .wm-text {
    width: 100%;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
   }

   .wm-nav {
    //display: none;
    position: static;
    height: 90px;
    overflow: hidden;
   }

   .wm-content {
      width: 100%;
      overflow: initial;
      top: 200px;
   }

   .wm-nav-content {
    position: static;
    width: 100%;
   }

  .logo {
    display: inline-block;
   }

   .toggle-menu {
    display: block;
    float: right;
   }
 }



