@font-face {
  font-family: 'cera';
  src: url("../fonts/cera/cera-thin-webfont.woff2") format("woff2"), url("../fonts/cera/cera-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'cera';
  src: url("../fonts/cera/cera-light-webfont.woff2") format("woff2"), url("../fonts/cera/cera-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'cera';
  src: url("../fonts/cera/cera-regular-webfont.woff2") format("woff2"), url("../fonts/cera/cera-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'cera';
  src: url("../fonts/cera/cera-medium-webfont.woff2") format("woff2"), url("../fonts/cera/cera-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'cera';
  src: url("../fonts/cera/cera-bold-webfont.woff2") format("woff2"), url("../fonts/cera/cera-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'cera';
  src: url("../fonts/cera/cera-black-webfont.woff2") format("woff2"), url("../fonts/cera/cera-black-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

